[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "kanata-service"]
	path = kanata-service
	url = git@github.com:soerenbf/kanata-service.git
